{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "useBuiltins": false
      }
    },
    "target": "es2021",
    "loose": false,
    "externalHelpers": false
  },
  "minify": false,
  "isModule": true
} 